BASE_URL=https://www.saucedemo.com
API_BASE_URL=https://dummyjson.com

TEST_USERNAME=standard_user
TEST_PASSWORD=secret_sauce

DB_HOST=YOUR_DB_HOST
DB_PORT=5432
DB_NAME=YOUR_DB_NAME
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DB_SSL=false

# Newman / Postman credentials (override via --env-var in CI)
NEWMAN_USERNAME=YOUR_NEWMAN_USERNAME
NEWMAN_PASSWORD=YOUR_NEWMAN_PASSWORD
